<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hackathon Project</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    </head>

    <body>
        <header>
            <h1>ASL Detector</h1>
            <a href="screen" class="button">Get Started</a>
        </header>
        <main>
            <div class="video-container">
                <img id="video-stream" src="/video_feed" alt="Webcam Feed">
                <img src="/static/asl.jpg" alt="ASL" id="output-canvas">
            </div>
            <div class="start">
                <a href="/" class="button">Back to Main</a>
            </div>
            <div id="ro">
                <p>The mission: Detect ASL signs in real-time</p>
            </div>
        </main>    
    </body>
</html>